$bg: #2c2c2e
$fg: #b2b2b2
$gy: #3a3a3a
$cy: #87afaf
$mg: #d78787
$tx: #040404
$gn: #88b090
$rd: #e89393
$dk: #262626
$yw: #ccdc90

$mobile-width: 800px
$ftdsk: 16pt
$ftmob: 14pt

@mixin desktop
    @media (min-width: $mobile-width+1)
      @content

@mixin mobile
    @media (max-width: $mobile-width)
        @content


body
    background-color: $bg
    color: $fg
    margin: 0px

    font-style: normal
    font-variant: normal
    font-weight: normal

    @include mobile
        font-size: $ftmob
    @include desktop
        font-size: $ftdsk

#container
    max-width: 45em

    @include desktop
        display: grid
        grid-template-areas: ". ." "content controls"
        margin-top: 12px
        width: 75vh
        margin-left: auto
        margin-right: auto
    @include mobile
        display: block
        width: 95%
        margin-left: 10px
        margin-right: 10px

#content
    @include desktop
        grid-area: content

#controls
    display: flex

    padding: 5px

    z-index: 20
    background-color: $bg

    height: 75vh
    width: fit-content
    max-height: calc(100vh - 2em)

    @include mobile
        position: fixed
        top: 2em
        right: 0

        justify-content: flex-end

        font-size: 150%
        option
            font-size: 150%
    @include desktop
        grid-area: controls
        min-width: 15em
        justify-content: center
        padding-top: 20pt
        form
            width: 80%

#controls.initial
    @include mobile
        transform: translateX(100%);
    @include desktop
        display: inline-flex

#controls.shown
    @include mobile
        animation: slideInFromRight .5s ease-out forwards;

#controls.hidden
    @include mobile
        animation: slideOutToRight .5s ease-out forwards;

@keyframes slideInFromRight
  from
      transform: translateX(100%);
      opacity: 0;
  to
      transform: translateX(0);
      opacity: 1;

@keyframes slideOutToRight
  from
      transform: translateX(0);
      opacity: 1;
  to
      transform: translateX(100%);
      opacity: 0;

#playlists
    height: fit-content
    width: 100%
    font-size: 100%

#controls-toggle
    @include desktop
        display: none
    @include mobile
        display: flex

    justify-content: right
    a
        font-size: 24pt
        text-decoration: none
        &:link
            color: $cy


#caption, #refresh
    width: 100%
    display: block
    text-align: center
    margin-right: auto
    margin-left: auto

#caption
    margin-top: .5em

.by
    font-size: 100%
.title, .artist, .year
    font-size: 175%
.title, .artist
    font-weight: bold
    color: $cy

#cover
    margin-left: 5px
    margin-right: 5px

$cvrwd: 75vh

#cover > img
    max-width: $cvrwd
    max-height: $cvrwd
    width: 100%
    height: auto !important
    margin-top: .5em
    margin-bottom: .5em

#refresh
    width: .9*$cvrwd
    max-width: 95%
    background-color: $gn
    color: $fg
    border: 2px solid $gn
    border-radius: 1em
    a
        font-weight: bold
        text-decoration-line: none
        color: $bg


h1
    margin-top: 0em
    margin-bottom: 0em
